In [1]:
import pandas as pd 
import os 
import glob
import sys

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from utils import HelperFunctions
helper_functions = HelperFunctions()

In [4]:
# # Ensure the user has provided a command-line argument
# if len(sys.argv) < 2:
#     raise ValueError("No country name provided. Please pass a country name as a command-line argument.")


## Define paths

FILE_PATH = os.getcwd()
build_path = lambda PATH : os.path.abspath(os.path.join(*PATH))

OUTPUT_PATH = build_path([FILE_PATH, "..", "output"])
SALIDAS_EXPERIMENTOS_PATH = build_path([OUTPUT_PATH, "experiments"])
COMPLETE_DF_OUTPUT_PATH = build_path([SALIDAS_EXPERIMENTOS_PATH, "grouped_data"]) 

INPUTS_ESTRESADOS_PATH = build_path([SALIDAS_EXPERIMENTOS_PATH, "sim_inputs"])
OUTPUTS_ESTRESADOS_PATH = build_path([SALIDAS_EXPERIMENTOS_PATH, "sim_outputs"])

PATHS_OUTPUT_CSV_FILES = glob.glob(OUTPUTS_ESTRESADOS_PATH+"/*.csv")
PATHS_INPUT_CSV_FILES = glob.glob(INPUTS_ESTRESADOS_PATH+"/*.csv")


PATHS_OUTPUT_CSV_FILES.sort()
PATHS_INPUT_CSV_FILES.sort()


PATHS_OUTPUT_CSV_FILES.sort()
PATHS_INPUT_CSV_FILES.sort()

In [5]:
if len(PATHS_OUTPUT_CSV_FILES) != len(PATHS_INPUT_CSV_FILES):
            raise ValueError("The amount of input files does not match the amount of output files.")

In [6]:
df_targets = pd.concat([pd.read_csv(i).iloc[[0]] for i in glob.glob(OUTPUTS_ESTRESADOS_PATH+"/*.csv")], ignore_index = True)
df_attributes = pd.concat([pd.read_csv(i).iloc[[0]] for i in glob.glob(INPUTS_ESTRESADOS_PATH+"/*.csv")], ignore_index = True)

In [7]:
df_attributes = helper_functions.create_id_column(df_attributes.copy())
df_targets = helper_functions.create_id_column(df_targets.copy())

In [8]:
df_targets.head()

,id,primary_id,region,time_period,area_agrc_crops_bevs_and_spices,area_agrc_crops_cereals,area_agrc_crops_fibers,area_agrc_crops_fruits,area_agrc_crops_herbs_and_other_perennial_crops,area_agrc_crops_nuts,...,totalvalue_enfu_fuel_consumed_entc_fuel_furnace_gas,totalvalue_enfu_fuel_consumed_entc_fuel_gasoline,totalvalue_enfu_fuel_consumed_entc_fuel_hydrocarbon_gas_liquids,totalvalue_enfu_fuel_consumed_entc_fuel_hydrogen,totalvalue_enfu_fuel_consumed_entc_fuel_kerosene,totalvalue_enfu_fuel_consumed_entc_fuel_natural_gas,totalvalue_enfu_fuel_consumed_entc_fuel_nuclear,totalvalue_enfu_fuel_consumed_entc_fuel_oil,totalvalue_enfu_fuel_consumed_entc_fuel_other,totalvalue_enfu_fuel_consumed_entc_fuel_waste
0,1,0,croatia,0,77459.298274,192633.939332,135778.397809,134191.094371,47271.722145,67954.713447,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,croatia,0,73132.241994,85834.805326,109638.749709,69459.182980,135098.168149,88133.189807,...,0.0,144.239074,0.0,35.220253,0.0,320.218894,0.000000,19.128888,0.0,0.0
2,3,0,croatia,0,72316.547611,74218.380478,100690.838296,93558.639161,64103.236932,94190.486615,...,0.0,965.294595,0.0,8.274674,0.0,1976.228303,12194.505351,283.108136,0.0,0.0
3,4,0,croatia,0,131034.501521,93941.967383,144744.509857,59121.383411,71086.570679,83089.714892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,croatia,0,122921.336178,45886.011563,120826.359916,111640.641648,63979.623358,116896.350348,...,0.0,10.569121,0.0,0.834670,0.0,121.857403,182.898304,0.287620,0.0,0.0

In [9]:
df_attributes.head()

,id,avgload_trns_freight_tonne_per_vehicle_aviation,avgload_trns_freight_tonne_per_vehicle_rail_freight,avgload_trns_freight_tonne_per_vehicle_road_heavy_freight,avgload_trns_freight_tonne_per_vehicle_water_borne,avgmass_lvst_animal_buffalo_kg,avgmass_lvst_animal_cattle_dairy_kg,avgmass_lvst_animal_cattle_nondairy_kg,avgmass_lvst_animal_chickens_kg,avgmass_lvst_animal_goats_kg,...,nemomod_entc_input_activity_ratio_fuel_production_fp_hydrogen_electrolysis_water,nemomod_entc_input_activity_ratio_fuel_production_fp_hydrogen_reformation_ccs_electricity,energydensity_gravimetric_enfu_gj_per_tonne_fuel_ammonia,energydensity_gravimetric_enfu_gj_per_tonne_fuel_water,frac_trns_fuelmix_water_borne_ammonia,nemomod_entc_output_activity_ratio_fuel_production_fp_ammonia_production_ammonia,nemomod_entc_output_activity_ratio_fuel_production_fp_hydrogen_reformation_ccs_hydrogen,nemomod_entc_frac_min_share_production_fp_hydrogen_reformation_ccs,nemomod_entc_input_activity_ratio_fuel_production_fp_hydrogen_reformation_ccs_natural_gas,nemomod_entc_input_activity_ratio_fuel_production_fp_hydrogen_reformation_ccs_oil
0,1,24.710787,4489.683385,18.099774,8079.682063,176.598032,703.591171,356.834604,1.434227,16.667950,...,0.000006,0.0,4.833099,0.000037,-0.0,0.928258,1.120070,0.0,0.460561,0.0
1,2,82.795555,4242.081540,46.172685,2215.506596,352.946821,735.542201,300.632048,0.215308,45.226970,...,0.000005,0.0,34.314836,0.000013,-0.0,0.372282,1.650065,0.0,1.386376,0.0
2,3,29.389452,3821.007643,32.169460,6513.009102,484.102070,96.626645,117.653888,0.820549,21.801862,...,0.000006,0.0,24.214540,0.000058,0.0,1.739732,0.823820,0.0,1.737484,0.0
3,4,27.482486,2128.833735,20.258220,864.973857,3.166322,12.814583,106.712876,1.099456,7.039976,...,0.000004,0.0,28.032882,0.000005,0.0,0.770005,1.365084,0.0,1.439034,0.0
4,5,8.406973,4559.113402,6.204150,7470.371705,574.362083,529.520110,461.905189,1.592327,22.625252,...,0.000004,0.0,25.120228,0.000030,0.0,0.216940,1.395696,0.0,1.576262,0.0

In [10]:
# Imputing nan values
# This can be changed to see if the RF performance is better
df_targets_imputed = df_targets.apply(lambda col: col.fillna(col.median()) if col.dtype in ['float64', 'int64'] else col)

In [11]:
helper_functions.get_cols_with_nans(df_targets_imputed)

[]

[]

In [12]:
# Before contatanating we have to create the target variables using the mapping_2.csv
# Load mapping table
mapping = pd.read_csv("mapping_2.csv")

In [13]:
mapping['Edgar_Class'] = mapping['Edgar_Class'].str.replace(' ', '', regex=False)
mapping['Edgar_Class'] = mapping['Edgar_Class'].str.replace(' ', '_').str.replace('-', '_')
mapping['Edgar_Class'] = mapping['Edgar_Class'].str.replace(':', '_')
mapping['Edgar_Class'] = mapping['Edgar_Class'].str.replace('/', '')

In [14]:
mapping.head()

,Subsector,Gas,Edgar_Class,Edgar_Subsector,Edgar_Sector,Vars
0,lvst,ch4,AG_Livestock_CH4,AG - Livestock,Agriculture,emission_co2e_ch4_lvst_entferm_buffalo:emissio...
1,lsmm,ch4,AG_Livestock_CH4,AG - Livestock,Agriculture,emission_co2e_ch4_lsmm_anaerobic_digester:emis...
2,lsmm,n2o,AG_Livestock_N2O,AG - Livestock,Agriculture,emission_co2e_n2o_lsmm_anaerobic_digester:emis...
3,agrc,co2,AG_Crops_CO2,AG - Crops,Agriculture,emission_co2e_co2_agrc_biomass_bevs_and_spices...
4,agrc,ch4,AG_Crops_CH4,AG - Crops,Agriculture,emission_co2e_ch4_agrc_anaerobicdom_rice:emiss...

In [15]:
for i in range(len(mapping)):
    vars_ = mapping.loc[i, 'Vars'].split(":")
    df_targets_imputed[mapping.loc[i, 'Edgar_Class']] = df_targets_imputed[vars_].sum(axis=1)
    # print(mapping.loc[i, 'Edgar_Class'])

In [19]:
target_vars = list(mapping['Edgar_Class'].unique())

In [21]:
new_vars = ['id'] + target_vars
df_targets_final = df_targets_imputed[new_vars]

In [22]:
df_targets_final.head()

,id,AG_Livestock_CH4,AG_Livestock_N2O,AG_Crops_CO2,AG_Crops_CH4,AG_Crops_N2O,EN_Building_CO2,EN_Building_CH4,EN_Building_N2O,EN_ElectricityHeat_CO2,...,Waste_SolidWaste_CH4,Waste_SolidWaste_N2O,Waste_WastewaterTreatment_CH4,Waste_WastewaterTreatment_N2O,LULUCF_ForestLand_CO2,LULUCF_ForestLand_CH4,LULUCF_Deforestation_CO2,LULUCF_Deforestation_CH4,LULUCF_OrganicSoil_CO2,LULUCF_OrganicSoil_N2O
0,1,0.293190,0.231473,23.326594,1.187369,0.994199,4.307744,0.006090,0.005047,7.299362,...,0.111083,0.011786,0.828140,0.770557,4.027556,0.241063,0.068106,0.664543,0.022903,4.771070
1,2,0.009929,0.289614,78.273000,0.869895,0.351969,9.354430,0.006263,0.096383,3.395921,...,0.676180,0.052393,2.191808,0.142598,2.039361,0.055671,0.381433,0.150161,0.103541,17.544440
2,3,0.084564,0.139065,44.981280,1.260332,0.761880,18.915926,0.022332,0.059248,72.939014,...,0.580193,0.022370,0.521712,0.132777,-2.080179,0.185738,0.024190,0.164943,0.117854,8.549432
3,4,0.089139,0.169623,23.006985,0.345429,2.091302,4.897107,0.006941,0.024766,7.299362,...,0.182666,0.018340,0.707272,0.027622,5.688578,0.167962,0.037159,0.127554,0.030958,6.081237
4,5,0.040506,0.229474,28.048034,0.263806,2.032316,3.807333,0.003157,0.008766,4.893175,...,0.398373,0.041159,0.178687,0.315804,1.673452,0.157133,0.054700,0.725214,0.374890,1.038776

In [ ]:
df_attributes.shape

(100, 2035)

In [ ]:
df_targets_imputed.shape

(100, 1517)

In [ ]:
country_name = sys.argv[1]

# Create the directory if it does not exist
if not os.path.exists(COMPLETE_DF_OUTPUT_PATH):
    os.makedirs(COMPLETE_DF_OUTPUT_PATH)

print(f"Saved a dataframes with shapes: {df_attributes.shape} and {df_targets.shape}")

df_attributes.to_csv(os.path.join(COMPLETE_DF_OUTPUT_PATH, f'lhp_sampled_{country_name}_attributes.csv'), index = False)
df_targets_imputed.to_csv(os.path.join(COMPLETE_DF_OUTPUT_PATH, f'lhp_sampled_{country_name}_targets.csv'))

Saved a dataframes with shapes: |

NameError: name 'df_complete' is not defined